@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=DM+Sans:wght@400;700&family=DM+Serif+Display&family=Inter&family=Karla:wght@400;700&family=Poppins:wght@500&family=Red+Hat+Display&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
	padding: 0;
	margin: 0;
	list-style: none;
	border: none;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

:root {
	--primary: rgb(217, 85, 80);
	--section-shadow: rgba(255, 255, 255, 0.06);
	--completed-todo-bg: rgb(124, 62, 60);
	--login-bg: rgb(176, 117, 115);
	--dark-mode: rgb(0, 0, 0, 0.8);
	--text-color: rgb(255, 255, 255);
	--text-color-alpha: rgba(255, 255, 255, 0.8);
}

html,
body,
#root {
	height: 100%;
	font-size: 18px;
}

#root {
	background-color: var(--primary);
}
main {
	max-width: 500px;
	margin: auto;
	display: flex;
	flex-direction: column;
	color: var(--text-color);
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 35px 0;
	font-size: 1.1rem;
	padding-bottom: 20px;
	border-bottom: 3px solid var(--text-color);
}
.leave {
	display: grid;
	place-content: center;
	border: 1px solid var(--text-color);
	background-color: var(--section-shadow);
	padding: 7.5px 15px 2px;
	border-radius: 5px;
	cursor: pointer;
}
.leave:hover {
	background-color: var(--section-shadow);
	scale: 1.05;
	transform: translateY(-5px);
	transition: all 0.2s;
}
.login {
	border: 1px solid white;
	width: 100%;
	border-radius: 10px;
	padding: 40px 50px;
	margin: 250px auto;
	background-color: var(--section-shadow);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.login button {
	margin-right: 25px;
}

.user-name {
	border: 2px solid var(--text-color-alpha);
	padding: 10px 15px;
	border-radius: 15px;
	background-color: var(--section-shadow);
}

.addTodo {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.button {
	display: grid;
	place-content: center;
	padding: 7.5px 15px;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 500;
}

.button:hover {
	background-color: rgb(255, 147, 147);
	scale: 1.1;
	transition: all 0.2s;
	color: var(--text-color);
	transform: translateY(-2px);
	font-weight: 600;
}

.todo-list-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	max-height: 50vh;
	overflow-y: auto;
	margin-top: 35px;
	padding: 10px;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--text-color-alpha);
	background-color: var(--section-shadow);
	padding: 10px 15px;
	border-radius: 10px;
}
.todo-item:hover {
	scale: 1.1px;
	transform: translateY(-3px);
}

.completed-todo {
	position: relative;
	background-color: var(--completed-todo-bg);
}
.completed-todo::before {
	content: ' ';
	width: 50%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
}

.todo-actions {
	display: flex;
	gap: 30px;
	margin-right: 10px;
}

.todo-actions img {
	cursor: pointer;
}

.todo-actions img:hover {
	scale: 1.1;
	color: rgba(0, 0, 0, 0.1);
}

input[type='checkbox'] {
	color: currentColor;
	width: 25px;
	border: 0.15em solid currentColor;
	border-radius: 5px;
	cursor: pointer;
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 64px;
	height: 64px;
	border: 8px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--section-shadow);
}

::-webkit-scrollbar-thumb {
	background: rgb(173, 173, 173);
}

::-webkit-scrollbar-thumb:hover {
	background: rgb(141, 141, 141);
}
